/*based on fireship's animated navbar: https://www.youtube.com/watch?v=biOMz4puGt8&t=613s*/

:root 
{
    font-size: 16px;
    font-family: 'Baloo Paaji 2', cursive;
    --tran-speed: 600ms;
    --nav-size: 5rem;
    --bgcolor: brown;

}

body
{
    margin: 0;
    padding: 0;
}

main
{
    margin-left: var(--nav-size);
    padding: 1rem;
}

.navbar
{
    width: var(--nav-size);
    height: 100vh;
    position: fixed;
    background-color: var(--bgcolor);
    transition: width var(--tran-speed) ease;
    box-shadow: 0 0 10px black;
}

.nav-ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item
{
    width: 100%;
}

.nav-item:last-child
{
    margin-top: auto;
}

.nav-link
{
    display: flex;
    align-items: center;
    height: var(--nav-size);
    color: darkred;
    text-decoration: none;
    transition: var(--tran-speed);
}

.nav-link:hover
{
    /*color: black;*/
    background: #da7171;
}

.nav-active
{
    color: black;
}

.link-text
{
    display: none;
    margin-left: 2rem;
}

.nav-link i
{
    font-size: 2rem;
    width: 2rem;
    /*height: 2.7rem;*/
    /*width: 2rem;
    min-width: 2rem;*/
    margin: 1.2rem;
}

.logo
{
    text-align: center;
    margin-top: auto;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

@media only screen and (max-width: 930px)
{
    .navbar
    {
        top: 0;
        width: 100vw;
        height: var(--nav-size);
    }

    .nav-ul
    {
        flex-direction: row;
    }
    .nav-link
    {
        justify-content: center;
    }
    main
    {
        margin-top: var(--nav-size);
        margin-left: 0;
    }

    .input-fields
    {
        width: 100%;
    }
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes disPlace
{
    0%
    {
        margin: 1.2rem;
    }
    100%
    {
        margin-left: 11rem;
    }
}

@keyframes place
{
    0%
    {
        margin-left: 11rem;
        
    }
    100%
    {
        margin: 1.2rem;
    }
}

@keyframes thinner
{
    0%
    {
        width: 16rem;
    }
    100%
    {
        width: 5rem;
    }
}

@keyframes wider
{
    0%
    {
        width: 5rem;
    }
    100%
    {
        width: 16rem;
    }
}


@media only screen and (min-width: 930px)
{
    .navbar .logo-icon
    {
        animation-name: place;
        animation-duration: var(--tran-speed);
        transition: all;
    }

    .navbar
    {
        animation-name: thinner;
        animation-duration: var(--tran-speed);
    }

    .navbar:hover
    {
        animation-name: wider;
        animation-duration: var(--tran-speed);
        animation-fill-mode: forwards;
        /*width: 16rem;*/
    }

    .navbar:hover .link-text
    {
        animation-name: fadeIn;
        animation-duration: 1.6s;
        display: inline;
    }
    .navbar:hover .logo-icon
    {
        animation-name: disPlace;
        animation-duration: var(--tran-speed);
        animation-fill-mode: forwards;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
}

/**************alert box**********/

.alert
{
    padding: 20px;
    
    color: white;
    margin-left: 50%;
    margin-bottom: 15px;
    filter: opacity(60%);
    border-radius: 5px;
}

.alert-info
{
    background-color: #008CBA;
}

.alert-error
{
    background-color: red;
}

.closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 1s;
}

/**************forms**************/

.wrapper
{
    position: absolute;
    top: 25%;
    width: 93%;
}

.boook-form
{
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    background-color: var(--bgcolor);
    padding: 10px 30px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    flex-direction: column;
}

.boook-form h2
{
    text-align: center;
    margin-bottom: 0px;
}

.input-fields
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input
{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #da7171;
    padding: 10px;
    width: 90%;
}

.button-field
{
    padding-top: 10px;
}

.form-button
{

    text-align: center;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    background-color: #da7171;
    cursor: pointer;
}