<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ac4cfb10ae.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet"> 
        {% block head %}{% endblock %}
        <title>BOOOKS {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-ul">
            {% if session.uid %}
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="fas fa-sign-out-alt "></i>
                        <span class="link-text">Sign out</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/register" class="nav-link{% if active == 'register' %} nav-active{% endif %}">
                        <i class="fas fa-user-plus "></i>
                        <span class="link-text">Sign up</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link {% if active == 'login' %} nav-active{% endif %}">
                        <i class="fas fa-sign-in-alt "></i>
                        <span class="link-text">Sign in</span>
                    </a>
                </li>

            {% endif %}
            <li class="logo">
                <a href="/" class="nav-link {% if active == 'index' %} nav-active{% endif %}">
                    
                    <i class="fas fa-book  logo-icon"></i>
                    <span class="link-text logo-text">BOOOKS &middot</span>
                </a>
            </li>
            </ul>
        </nav>



        <main>


            {% for cat,message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{cat}}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}



        {% block main %}{% endblock %}
        </main>
    </body>
</html>    