{% extends "layout.html" %}

{% set active = "login" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="wrapper">
    
    <form class="boook-form" action="/login" method="post">
        <div class="input-fields">
            <input type="text" class="form-input" placeholder="Username" name="username">
            <input type="password" class="form-input" placeholder="Password" name="password">
        </div>
        <div class="button-field">
            <input type="submit" value="Sign in" class="form-button">
        </div>
    </form>
</div>

{% endblock %}