{% extends "layout.html" %}

{% set active = "register" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="wrapper">
    
    <form class="boook-form" action="/register" method="post">
        <div class="input-fields">
            <input type="text" class="form-input" placeholder="Name" name="username">
            <input type="password" class="form-input" placeholder="Password" name="password">
        </div>
        <div class="button-field">
            <input type="submit" value="Register" class="form-button">
        </div>
    </form>
</div>

{% endblock %}